@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="ContactInfo">
    <p>
        If you have any questions regarding our application or the implementation, please feel free to contact us at: developer@SafestRoute.com.
    </p>
</div>