@{
    ViewBag.Title = "Home Page";
}
<br /><br />

<div class="row">
    <div class="col-md-4">
        <div class="card customcard" align="center">
            <img class="cardimage" src="~/Content/Images/saferoute1.jpg" />
            <div class="card-body ropa">
                <h3 class="card-title">Avoid 'Dangerous' Areas</h3>
                <p class="card-text cardp">Avoid areas with recently reported crime that could pose as a hazard to you or your loved ones with our state-of-the-art navigation and route building tool.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 opa">
        <div class="card customcard" align="center">
            <img class="cardimage" src="~/Content/Images/saferoute2.jpg" />
            <div class="card-body">
                <h3 class="card-title">Stay Connected</h3>
                <p class="card-text cardp">Our application keeps your loved ones updated every step of the way with its SMS feature and will alert authorities in an emergency.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 opa">
        <div class="card customcard" align="center">
            <img class="cardimage" src="~/Content/Images/saferoute3.jpg" />
            <div class="card-body ropa">
                <h3 class="card-title">Custom Avoidance Zones</h3>
                <p class="card-text cardp">Place custom bounds to avoid areas not registered in our databases and watch our navigation tool automatically find the fastest route around the area.</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="HomeBody">
    <p>
        Welcome to Safest Route - Chicago. Our goal is to provide you with the safest walking route through the City of Chicago. More  talk here.
    </p>
    <br /><br /><br /><br /><br />
</div>
<br />
<br />
<br />
