@{
    ViewBag.Title = "Home Page";
}

<div class="HomePageHeader">
    <h3>Safest Route - Chicago</h3>
</div>

<div class="HomeBody">
    <p>
        Welcome to Safest Route - Chicago. Our goal is to provide you with the safest walking route through the City of Chicago. More  talk here.
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>